body {
	font-family:Arial, Helvetica, sans-serif;
}

body p, ul li {
	font-size:14px; 
    line-height:18px;
}

form p {
	display:inline;
}

a {
	color:#339933;
	text-decoration:none;
}

.hidden {
	visibility:hidden;
}

a:hover {
	text-decoration:underline;
}

//Welkomst text
p.title {
	text-align:center;
}

table {
	text-align:left;
}

form label {
	display:inline-block;
	width:200px;
	font-weight:bold;
}

input, button {
	font-size:14px;
	padding:3px;
	border-color:gray;
	border-width:1px;
	border-radius:5px;
} 

button {
	background-color:#3366cc;
	color: #ffffff;
	font-weight:bold;
	cursor:pointer;
}